* {
    padding: 0;
    margin: 0;
}

/* Ensure footer stay at botom on small pages */

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    main {
        flex: 1;
    }
}

header {
    color: white;
    background-color: #333;
    padding: 1rem;

    a {
        display: inline-block;
        text-decoration: none;
        font-size: 1.2rem;
        color: white;
        padding: 0.5rem;
        border: 1px solid transparent;
        border-radius: 0.5rem;
    }

    a:hover {
        transition: all 0.3s;
        border: 1px solid gray;
        color: antiquewhite;
    }
}

main {
    color: antiquewhite;
    background-color: #444;

    h1 {
        font-size: 2rem;
        text-align: center;
        margin: 1rem 0;
    }
}

footer {
    color: white;
    background-color: #333;
    padding: 1rem;

    div {
        text-align: center;
        font-size: 0.8rem;
        color: aquamarine;
    }
}

.container {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
}

/* Forms CSS */
.form-line {
    display: flex;
    align-items: center;
    margin: 0.5rem;

    input {
        margin: 0;
    }

    label {
        margin: 0;
        width: 12rem;
    }

    button {
        width: fit-content;
        margin: 0;
        margin-right: 1rem;
        padding: 0.5rem 2rem;
    }
}

.error {
    color: lightcoral;
}

/* Adjust pics.css */
[role='button'] {
    margin: 0.5em 0;
}

table {
    [role='button'] {
        margin: 0;
        padding: 0.2rem 0.4rem;
        margin-right: 0.5rem;
    }
}

.stats-title {
    color:antiquewhite;
    font-size: 1.2rem;
    font-weight: 500;
}

.stats-name {
    display: inline-block;
    width: 15rem;
    color:beige;
    font-size: 1rem;
}

.stats-value {
    font-weight: 700;
    letter-spacing: 0.1rem;
}

.tab {
    margin-left: 2rem;
    width: 13rem;
}
